<section class="h-[700px]">
   <main
      class="w-4/5 m-auto flex flex-col justify-center gap-10 lg:gap-0 lg:justify-between items-center lg:flex-row h-full relative"
   >
      <div class="h-full lg:w-1/2 m-4 content-center relative text-center">
         <h1
            class="text-5xl md:text-7xl lg:text-8xl text-center lg:text-left font-bold bg-gradient-to-r from-orange-500 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text mt-4 relative z-10"
         >
            Paint VR
         </h1>
         <p class="text-xl mt-8">
            Paint VR es un juego de realidad virtual que permite a los usuarios
            experimentar el arte de la pintura en un entorno VR
         </p>
      </div>
      <div
         class="h-full w-full lg:w-1/2 justify-center m-4 content-center relative"
      >
         <img
            src="pintar.webp"
            alt="Hero"
            class="h-[300px] md:h-[450px] z-10 m-auto relative"
         />
      </div>
   </main>
</section>
