---
import HeroSection from "../components/GameWeb/HeroSection.astro";
import TimeLine from "../components/GameWeb/TimeLine.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Tecnologias from "../components/GameWeb/Tecnologias.astro";
import AnexoVideojuego from "../components/GameWeb/AnexoVideojuego.astro";
import Slider from "../components/GameWeb/Slider.astro";
import SliderReact from "../components/GameWeb/SliderReact.jsx";
---

<Layout title="Acerca del Videojuego">
   <HeroSection />
   <Tecnologias />
   <TimeLine />
   <h1 class="font-bold text-4xl text-center my-8">
      <strong class="text-orange-500">Galeria</strong>
   </h1>
   <SliderReact client:load />
   <SliderReact client:load />
   <AnexoVideojuego />
   <Footer />
</Layout>
